<!-- body -->
<div class='container'>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <form id="create_patch_form" action="/singleUpload" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="description" class="form-control-label">补丁描述:</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   maxlength="32"
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="patch_file" class="form-control-label">补丁文件:</label>
                            <input type="file" class="form-control" id="patch_file" name="file">
                        </div>

                        <p class="text-center"><font color="#dc143c" id="err_msg"></font></p>
                        <input type="hidden" name="patch_type"  value="1"/>
                        <input type="hidden" name="appUid"  value={{appUid}} >
                        <input type="hidden" name="appVersion"  value={{appVersion}}/>


                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create_patch">创建</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">hotfix</h4>
        </div>
        <div class="Login-box">
            <h5 style="margin-left: 20px">使用说明: 1. 此界面用于上传补丁包,但是没有真正的发布出去</h5>
            <h5 style="margin-left: 20px">2. 需要在补丁详情界面 手动点击上传</h5>

            <h5 style="margin-left: 20px">bug修复是一个非常严肃的问题,.目前支持全量修复或者根据app 版本进行修复, 补丁是基于一个基础的安装包进行的</h5>
        </div>

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">上传补丁
                        </button>
                    </p>

                </div>
            </div>
        </div>


        <div class="panel-body">
            <!-- <h2 class="sub-header">Section title</h2> -->
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>补丁版本</th>
                        <th>补丁大小</th>
                        <th>发布状态</th>
                        <th>补丁类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        <tr>
                            <td class="hashCode">{{hashCode}}</td>
                            <td>{{patch_size}}k</td>
                            <td>{{patch_status}}</td>
                            <td>{{patch_type}}</td>
                            <td>
                                <button class="patch_detail btn btn-sm">查看详情</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!-- Bootstrap Core CSS -->
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../public/css//sb-admin.css')" rel="stylesheet">

        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://bootboxjs.com/bootbox.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {

                $(".uploadHotFixConfirm").click(function () {
                    bootbox.confirm({
                        message: "确定这个补丁吗?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (!result) {
                                return;
                            }

                        },
                    });

                });


                $("#create_patch").click(function () {
                    if ($("#description").val().length == 0) {
                        $("#err_msg").text('请输入补丁描述');
                        return
                    }
                    if ($("#patch_file").val().length == 0) {
                        $("#err_msg").text('请选择补丁文件');
                        return
                    }

                    if (!$("#patch_file").val().endsWith('.apk') && !$("#patch_file").val().endsWith('.jar') && !$("#patch_file").val().endsWith('.zip') && !$("#patch_file").val().endsWith('.dex')) {
                        $("#err_msg").text('补丁文件的名字必须以.apk .jar .zip .dex结尾');
                        $("#patch_file").val('');
                        return;
                    }
                    $("#err_msg").text('');

                    var dialog = bootbox.dialog({
                        message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
                    });
                    dialog.init(function () {
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 5000);
                    });

                    dialog.init(function () {
                        jQuery.ajax({
                            url: "/createApp?appname=" + $("#app-name").val() + "&description=" + $("#app-desc").val(),
                            type: 'get',
                            success: function (res, textStatus, jqXHR) {
                                dialog.find('.bootbox-body').html('添加成功!');
                                setTimeout(function () {
                                    window.location.href = window.location.href;
                                }, 500);
//                            if (res.code == 200) {    //todo
//
//                            } else {
//                                dialog.find('.bootbox-body').html("<font color='red'>" + res.message + "</font>");
//                            }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                dialog.find('.bootbox-body').html("<font color='red'>系统异常!</font>");
                            }
                        });
                    });

                    $("#create_patch_form").submit();
                });
            });

        </script>
        <!-- footer -->
        <div class="footer">
            <p style="margin-left: 20px">© Company 2016</p>
        </div>
    </div>
</div>